// 由于菜单递归，导致多包了一层div，导致无法隐藏，所以新增样式
.el-menu--collapse>div>.el-menu-item span, .el-menu--collapse>div>.el-submenu>.el-submenu__title span
  height: 0;
  width: 0;
  overflow: hidden;
  visibility: hidden;
  display: inline-block;

.el-menu--collapse>div>.el-menu-item .el-submenu__icon-arrow, .el-menu--collapse>div>.el-submenu>.el-submenu__title .el-submenu__icon-arrow
  display none
