@charset "utf-8"

@import '~normalize.css/normalize.css'   // normalize.css 样式格式化

@import "./mixin.styl"

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
}
